#comment-form {
    display: block;
    margin: 2em 0;
    background: var(--background-color);
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid #E1E1E1;
}

#comment-form .comment-info {
    height: 50px;
    border-bottom: 1px solid #E1E1E1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    overflow: hidden;
}

#comment-form .comment-info input:not(:last-child) {
    border-right: 1px solid #E1E1E1;
}

#comment-form .comment-info input {
    outline: none;
    height: 50px;
    background: transparent;
    flex: 1 !important;
    border: 0;
    padding: 0 15px;
    border-radius: 0;
    line-height: normal;
    color: var(--code-color);
}

#comment-form .comment-editor {
    min-height: 100px;
    position: relative;
}

#comment-form textarea {
    outline: none;
    border: 0;
    border-radius: 0;
    width: 100%;
    min-height: 100px;
    line-height: 1.825;
    display: block;
    background: var(--background-color);
    overflow: auto;
    color: var(--code-color);
    padding: 5px;
}

#comment-form .comment-buttons {
    height: 30px;
    padding: 8px 16px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;

    border-top: 1px solid #E1E1E1;
}

#comment-form .comment-buttons button {
    cursor: pointer;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    padding: 0 5px;
    background: transparent;
    border: 1px solid #E1E1E1;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    color: var(--code-color);
}

#comment-form .comment-buttons .left,
#comment-form .comment-buttons .right {
    flex: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
}

#comment-form .comment-buttons .right {
    justify-content: flex-end;
}

#comments ol {
    list-style: none;
    margin: 0;
}

#comments p {
    margin: 0;
}

.gen {
    margin: 1rem 0 0 0;
}

.hide {
    display: none;
}

.gen .page-navigator {
    margin: 3.75rem 0 3rem 0;
}

.response {
    margin: 2rem 0;
    padding-top: 1em;
}

.hinfo {
    display: none;
}

.gen h2 {
    margin-bottom: 0.8em;
}

.gen a {
    color: #aaa;
}

.comment-list {
    padding-left: 0 !important;
    list-style-type: none;
    margin: 0;
}

.avatar {
    display: block;
    float: left;
    width: 40px;
    height: 40px;
    margin: 1.4rem 1rem 0 0 !important;
    border-radius: 50%;
}

.comment_main {
    overflow: hidden;
    padding: 1rem 0;
    border-bottom: 1px dotted #e0e0e0;
}

.comment_main p {
    margin: 0;
    font-size: 14px;
}

.comment_reply,
.comment_meta {
    font-size: .766rem;
    color: #aaa;
}

.comment_reply {
    float: right;
    display: none;
}

.comment_main:hover .comment_reply {
    display: block
}

.comment_author {
    padding: .1rem .25rem;
    border-radius: .25rem;
    background: var(--comment-author-color);
    font-size: 10px;
}

.ccomment_reply {
    text-align: right;
}

.comment_reply a:before,
.comment_time:before {
    margin: 0 .5rem
}

.comment-parent .comment-children {
    margin-left: 1.2em;
}

.comment-child .comment-children {
    margin-left: 1.2em;
}

.cancel-comment-reply {
    text-align: right;
}