:root {
    --width: 660px;
    --font-yahei: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFangSC-Regular", "Hiragino Sans GB", "Lantinghei SC", "Microsoft Yahei", "Source Han Sans CN", "WenQuanYi Micro Hei", SimSun, sans-serif;
    --font-fangsong: Baskerville, "Times New Roman", "Liberation Serif", STFangsong, FangSong, FangSong_GB2312, "CWTEX\-F", serif;
    --font-songti: Georgia, "Nimbus Roman No9 L", "Songti SC", "Noto Serif CJK SC", "Source Han Serif SC", "Source Han Serif CN", STSong, "AR PL New Sung", "AR PL SungtiL GB", NSimSun, SimSun, "TW\-Sung", "WenQuanYi Bitmap Song", "AR PL UMing CN", "AR PL UMing HK", "AR PL UMing TW", "AR PL UMing TW MBE", PMingLiU, MingLiU, serif;
    --font-scale: 1em;
    --background-color: #fff;
    --comment-author-color: #eee;
    --heading-color: #222;
    --text-color: #444;
    --link-color: #3273dc;
    --visited-color: #8b6fcb;
    --code-background-color: #fff;
    --code-color: #222;
    --blockquote-color: #222;
    --gray-color: #999;
    --current-page-color: #88b6ff;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #313131;
        --heading-color: #eee;
        --text-color: #ddd;
        --link-color: #6ab0e5;
        --visited-color: #8b6fcb;
        --code-background-color: #313131;
        --code-color: #ddd;
        --blockquote-color: #ccc;
        --gray-color: #999;
        --current-page-color: #a4d8ff;
        --comment-author-color: #606060;
    }
}

body {
    font-family: var(--font-yahei);
    /* 可替换 --font-fangsong 或 --font-songti 字体 */
    font-size: var(--font-scale);
    margin: auto;
    padding: 20px;
    max-width: var(--width);
    text-align: left;
    background-color: var(--background-color);
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.7;
    color: var(--text-color);
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--heading-color);
    display: inherit
}

a {
    color: var(--link-color);
    cursor: pointer;
    text-decoration: none;
    border-bottom: 1px solid transparent
}

a:hover,
nav .current {
    border-bottom: 1px solid
}

nav a {
    margin-right: 8px
}

strong,
b {
    color: var(--heading-color)
}

button {
    margin: 0;
    cursor: pointer
}

table {
    width: 100%
}

hr {
    border: 0;
    border-top: 1px dashed
}

img {
    max-width: 100%;
    height: auto
}

time,
.intro {
    color: var(--gray-color);
}

code {
    font-family: monospace;
    padding: 2px;
    background-color: var(--code-background-color);
    color: var(--code-color);
    border-radius: 4px
}

blockquote {
    border-left: 1px solid #999;
    color: var(--code-color);
    padding-left: 20px;
    font-style: italic
}

input {
    border-radius: 4px;
    border: 1px solid var(--gray-color);
    margin: 0 0 15px 0;
    padding: 10px;
    width: 50%
}

input:focus {
    outline: 0
}

input[type="submit"] {
    padding: 9px 10px 10px;
    text-align: center;
    width: 80px;
    display: inline-flex;
    background-color: var(--heading-color);
    color: var(--code-background-color);
    border: none
}

input[type="submit"]:hover {
    cursor: pointer;
    opacity: .7
}

header,
footer {
    padding: 20px 0
}

.title:hover {
    text-decoration: none;
    border: none
}

.title h1,
.title h2 {
    font-size: 1.5em
}

ul.posts {
    list-style-type: none;
    padding: unset
}

ul.posts li {
    display: flex;
    margin: 3px 0
}

ul.posts li span {
    flex: 0 0 115px
}

ul.posts li a:visited {
    color: var(--visited-color)
}

.tags {
    margin-top: 30px;
    color: var(--gray-color)
}

.tags a {
    margin: 0 5px 0 2px
}

.page-navigator {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 0;
    list-style: none;
}

.page-navigator li {
    display: block;
}

.current {
    color: var(--current-page-color);
    text-decoration: underline;
}

#comment-form {
    display: block;
    margin: 2em 0;
    background: var(--background-color);
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid #E1E1E1;
}

#comment-form .comment-info {
    height: 50px;
    border-bottom: 1px solid #E1E1E1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    overflow: hidden;
}

#comment-form .comment-info input:not(:last-child) {
    border-right: 1px solid #E1E1E1;
}

#comment-form .comment-info input {
    outline: none;
    height: 50px;
    background: transparent;
    flex: 1 !important;
    border: 0;
    padding: 0 15px;
    border-radius: 0;
    line-height: normal;
    color: var(--code-color);
}

#comment-form .comment-editor {
    min-height: 100px;
    position: relative;
}

#comment-form textarea {
    outline: none;
    border: 0;
    border-radius: 0;
    width: 100%;
    min-height: 100px;
    line-height: 1.825;
    display: block;
    background: var(--background-color);
    overflow: auto;
    color: var(--code-color);
}

#comment-form .comment-buttons {
    height: 30px;
    padding: 8px 16px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    
    border-top: 1px solid #E1E1E1;
}

#comment-form .comment-buttons button {
    cursor: pointer;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    padding: 0 5px;
    background: transparent;
    border: 1px solid #E1E1E1;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    color: var(--code-color);
}

#comment-form .comment-buttons .left, #comment-form .comment-buttons .right {
    flex: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
}

#comment-form .comment-buttons .right {
    justify-content: flex-end;
}

#comments ol {
    list-style: none;
    margin: 0;
}

#comments p {
    margin: 0;
}

.gen {
    margin: 1rem 0 0 0;
}

.hide {
    display: none;
}

.gen .page-navigator {
    margin: 3.75rem 0 3rem 0;
}

.response {
    margin: 2rem 0;
    padding-top: 1em;
}

.hinfo {
    display: none;
}

.gen h2 {
    margin-bottom: 0.8em;
}

.gen a {
    color: #aaa;
}

.comment-list {
    padding-left: 0 !important;
    list-style-type: none;
    margin: 0;
}

.avatar {
    display: block;
    float: left;
    width: 40px;
    height: 40px;
    margin: 1.4rem 1rem 0 0 !important;
    border-radius: 50%;
}

.comment_main {
    overflow: hidden;
    padding: 1rem 0;
    border-bottom: 1px dotted #e0e0e0;
}

.comment_main p {
    margin: 0;
    font-size: 14px;
}

.comment_reply, .comment_meta {
    font-size: .766rem;
    color: #aaa;
}

.comment_reply {
    float: right;
    display: none;
}

.comment_main:hover .comment_reply {
    display: block
}

.comment_author {
    padding: .1rem .25rem;
    border-radius: .25rem;
    background: var(--comment-author-color);
    font-size: 10px;
}

.ccomment_reply {
    text-align: right;
}

.comment_reply a:before, .comment_time:before {
    margin: 0 .5rem
}

.comment-parent .comment-children {
    margin-left: 1.2em;
}

.comment-child .comment-children {
    margin-left: 1.2em;
}

.cancel-comment-reply {
    text-align: right;
}